@import 'lib/display';
@import 'lib/positioning';
@import 'lib/flexbox';
@import 'lib/align';
@import 'lib/floats';
@import 'lib/z-index';
@import 'lib/typography';
@import 'lib/buttons';
@import 'lib/forms';
@import 'lib/lists';
@import 'lib/tables';
@import 'lib/spacing';

html, body {
  font-family: monospace;
}

.outer {
  padding-left: 2em;
  padding-right: 2em;
}

* {
  box-sizing: border-box
}

.filler {
  padding: 2em;
  margin-bottom: 1em;
  background-color: whitesmoke
}

.container {
  max-width: 1000px;
  margin: auto;
}
